# RAL Tier-1 HTCondor configuration: accounting groups & concurrency limits


RalAcctGroup = ifThenElse(regexp("ttcms048",Owner),         "group_HIGHPRIO", \
               ifThenElse(regexp("pcms060",Owner),          "group_HIGHPRIO", \
               ifThenElse(regexp("cmssgm",Owner),           "group_HIGHPRIO", \
               ifThenElse(regexp("plhcb024",Owner),         "group_HIGHPRIO", \
               ifThenElse(regexp("tatls016",Owner),         "group_HIGHPRIO", \
               ifThenElse(isPreemptable =?= true,           "group_PREEMPTABLE", \
               ifThenElse(x509UserProxyVOName =?= "alice",  "group_ALICE", \
               ifThenElse(x509UserProxyVOName =?= "atlas",  "group_ATLAS", \
               ifThenElse(x509UserProxyVOName =?= "cms",    "group_CMS", \
               ifThenElse(x509UserProxyVOName =?= "lhcb",   "group_LHCB", \
               ifThenElse(x509UserProxyVOName =?= "dteam",  "group_DTEAM_OPS", \
               ifThenElse(x509UserProxyVOName =?= "ops",    "group_DTEAM_OPS", \
               ifThenElse(regexp("nagios",Owner),           "group_OTHER", \
                                                            "group_NONLHC")))))))))))))

RalAcctSubGroup = ifThenElse(regexp("ttcms048",Owner),                 "sum_tests", \
                  ifThenElse(regexp("pcms060",Owner),                  "sum_tests", \
                  ifThenElse(regexp("cmssgm",Owner),                   "sum_tests", \
                  ifThenElse(regexp("tatls016",Owner),                 "sum_tests", \
                  ifThenElse(isPreemptable =?= true, \
                     (ifThenElse(x509UserProxyVOName =?= "alice",          "alice", \
                      ifThenElse(x509UserProxyVOName =?= "atlas",          "atlas", \
                      ifThenElse(x509UserProxyVOName =?= "cms",            "cms", \
                      ifThenElse(x509UserProxyVOName =?= "lhcb",           "lhcb", "other"))))), \
                  ifThenElse(regexp("pcms",Owner) && RequestCpus > 1,  "prodcms_multicore", \
                  ifThenElse(regexp("pcms",Owner),                     "prodcms", \
                  ifThenElse(regexp("ttcms",Owner) && RequestCpus > 1, "cms_pilot_multicore", \
                  ifThenElse(regexp("ttcms",Owner),                    "cms_pilot", \
                  ifThenElse(regexp("cms",Owner),                      "cms", \
                  ifThenElse(regexp("patl",Owner) && RequestCpus > 1,  "prodatls_multicore", \
                  ifThenElse(regexp("patl",Owner),                     "prodatls", \
                  ifThenElse(regexp("tatl",Owner) && RequestCpus > 1,  "atlas_pilot_multicore", \
                  ifThenElse(regexp("tatl",Owner),                     "atlas_pilot", \
                  ifThenElse(regexp("atl", Owner),                     "atlas", \
                  ifThenElse(regexp("tlhcb",Owner),                    "lhcb_pilot", \
                  ifThenElse(regexp("plhcb",Owner),                    "prodlhcb", \
                  ifThenElse(regexp("lhcb",Owner),                     "lhcb", \
                  ifThenElse(regexp("talce",Owner),                    "alice_pilot", \
                  ifThenElse(regexp("alice",Owner),                    "alice", \
                  ifThenElse(regexp("dteam",Owner),                    "dteam", \
                  ifThenElse(regexp("ops",Owner),                      "ops", \
                  ifThenElse(regexp("nagios",Owner),                   "nagios", \
                  ifThenElse(regexp("hone",Owner),                     "h1", \
                  ifThenElse(regexp("ilc",Owner),                      "ilc", \
                  ifThenElse(regexp("mice",Owner),                     "mice", \
                  ifThenElse(regexp("na62",Owner),                     "spsna62", \
                  ifThenElse(regexp("pheno",Owner),                    "pheno", \
                  ifThenElse(regexp("suprb",Owner),                    "Super_B", \
                  ifThenElse(regexp("superbpm",Owner),                 "superbpm", \
                  ifThenElse(regexp("t2k",Owner),                      "t2k", \
                  ifThenElse(regexp("snopluspm",Owner),                "snopluspm", \
                  ifThenElse(regexp("snoplus",Owner),                  "snoplus", \
                  ifThenElse(regexp("bio",Owner),                      "bio", \
                  ifThenElse(regexp("fusn",Owner),                     "fusn", \
                  ifThenElse(regexp("epic",Owner),                     "epic", \
                  ifThenElse(regexp("geant",Owner),                    "geant", \
                  ifThenElse(regexp("glast",Owner),                    "glast", \
                  ifThenElse(regexp("hyperk",Owner),                   "hyperk", \
                  ifThenElse(regexp("enmr",Owner),                     "enmr", \
                  ifThenElse(regexp("lsst",Owner),                     "lsst", \
                  ifThenElse(regexp("ligo",Owner),                     "ligo", \
                  ifThenElse(regexp("gpp",Owner),                      "gridpp", \
                  ifThenElse(regexp("ska",Owner),                      "ska", \
                                                                       "none"))))))))))))))))))))))))))))))))))))))))))))

AccountingGroup = strcat(RalAcctGroup, ".", RalAcctSubGroup, ".", Owner)
ConcurrencyLimits = strcat(RalAcctGroup, ",", RalAcctSubGroup, ",", Owner)
SUBMIT_ATTRS = $(SUBMIT_ATTRS) RalAcctGroup, RalAcctSubGroup, AccountingGroup, ConcurrencyLimits

