# RAL Tier-1 HTCondor configuration: security

UID_DOMAIN = gridpp.rl.ac.uk

CONDOR_HOST =
CENTRAL_MANAGER1 = condor01.gridpp.rl.ac.uk
CENTRAL_MANAGER2 = condor02.gridpp.rl.ac.uk
COLLECTOR_HOST = $(CENTRAL_MANAGER1),$(CENTRAL_MANAGER2)

# Central managers
CMS = condor_pool@$(UID_DOMAIN)/condor01.gridpp.rl.ac.uk,   \
      condor_pool@$(UID_DOMAIN)/condor02.gridpp.rl.ac.uk

# CEs
CES = condor_pool@$(UID_DOMAIN)/arc-ce01.gridpp.rl.ac.uk,        \
      condor_pool@$(UID_DOMAIN)/arc-ce02.gridpp.rl.ac.uk,        \
      condor_pool@$(UID_DOMAIN)/arc-ce03.gridpp.rl.ac.uk,        \
      condor_pool@$(UID_DOMAIN)/arc-ce04.gridpp.rl.ac.uk,        \
      condor_pool@$(UID_DOMAIN)/arc-ce05.gridpp.rl.ac.uk,        \
      condor_pool@$(UID_DOMAIN)/lcgui03.gridpp.rl.ac.uk,         \
      condor_pool@$(UID_DOMAIN)/lcgui04.gridpp.rl.ac.uk,         \
      condor_pool@$(UID_DOMAIN)/arc-ce-test01.gridpp.rl.ac.uk,   \
      condor_pool@$(UID_DOMAIN)/vm85.nubes.stfc.ac.uk

# Worker nodes
WNS = condor_pool@$(UID_DOMAIN)/130.246.*, condor_pool@nubes.stfc.ac.uk/130.246.*

# Users
USERS = *@$(UID_DOMAIN)

# Required for HA
HOSTALLOW_NEGOTIATOR = $(COLLECTOR_HOST)
HOSTALLOW_ADMINISTRATOR = $(COLLECTOR_HOST)
HOSTALLOW_NEGOTIATOR_SCHEDD = $(COLLECTOR_HOST)

# Authorization
HOSTALLOW_WRITE =
ALLOW_READ = */*.gridpp.rl.ac.uk, */*.nubes.stfc.ac.uk
NEGOTIATOR.ALLOW_WRITE = $(CES), $(CMS)
COLLECTOR.ALLOW_ADVERTISE_MASTER = $(CES), $(CMS), $(WNS)
COLLECTOR.ALLOW_ADVERTISE_SCHEDD = $(CES)
COLLECTOR.ALLOW_ADVERTISE_STARTD = $(WNS)
SCHEDD.ALLOW_WRITE = $(USERS)
SHADOW.ALLOW_WRITE = $(WNS), $(CES)
ALLOW_DAEMON = condor_pool@$(UID_DOMAIN)/*.gridpp.rl.ac.uk, $(FULL_HOSTNAME)
ALLOW_ADMINISTRATOR = root@$(UID_DOMAIN)/$(IP_ADDRESS), condor_pool@$(UID_DOMAIN)/$(IP_ADDRESS), $(CMS)
ALLOW_CONFIG = root@$(FULL_HOSTNAME)

# Don't allow nobody to run jobs
SCHEDD.DENY_WRITE = nobody@$(UID_DOMAIN)

# Authentication
SEC_PASSWORD_FILE = /etc/condor/pool_password
SEC_DEFAULT_AUTHENTICATION = REQUIRED
SEC_READ_AUTHENTICATION = OPTIONAL
SEC_CLIENT_AUTHENTICATION = REQUIRED
SEC_DEFAULT_AUTHENTICATION_METHODS = PASSWORD,FS
SCHEDD.SEC_WRITE_AUTHENTICATION_METHODS = FS,PASSWORD
SCHEDD.SEC_DAEMON_AUTHENTICATION_METHODS = FS,PASSWORD
SEC_CLIENT_AUTHENTICATION_METHODS = FS,PASSWORD,CLAIMTOBE
SEC_READ_AUTHENTICATION_METHODS = FS,PASSWORD,CLAIMTOBE

# Integrity
SEC_DEFAULT_INTEGRITY  = REQUIRED
SEC_DAEMON_INTEGRITY = REQUIRED
SEC_NEGOTIATOR_INTEGRITY = REQUIRED

# Encryption
#SEC_DEFAULT_ENCRYPTION = OPTIONAL
#SEC_READ_ENCRYPTION = OPTIONAL
#SEC_CLIENT_ENCRYPTION = OPTIONAL

