# RAL Tier-1 HTCondor configuration: schedd

# Maximum number of running jobs per CE
MAX_JOBS_RUNNING = 10000

# Job starts
JOB_START_DELAY = 1
JOB_START_COUNT = 3

# Job stops
JOB_STOP_DELAY = 1
JOB_STOP_COUNT = 30

# Limit uploads & downloads
MAX_CONCURRENT_UPLOADS = 50
MAX_CONCURRENT_DOWNLOADS = 50

# Reduce disk IO - paranoid fsyncs are usully not needed
ENABLE_USERLOG_FSYNC = False

# Shadows should be nice
SHADOW_RENICE_INCREMENT = 10

# Copy proxy to WNs, don't delegate - by default HTCondor will delegate proxies
# which amongst other things prevents CMS glideins from even starting jobs. Note
# that if the user updates the proxy on the CE, the proxy on the WN will also be
# updated. The rate at which the job proxy is checked is determined by the setting
# SHADOW_CHECKPROXY_INTERVAL on the WNs which defaults to 10 mins.
DELEGATE_JOB_GSI_CREDENTIALS = False

# Increase limit on number of processes spawned to handle queries
SCHEDD_QUERY_WORKERS = 16

# Increase the job lease duration from the default (1200) to 2 hours. This means
# that the CE can be down for up to 2 hours without affecting running jobs.
JobLeaseDuration = 7200

# CPU benchmark scaling factor
MachineRalScaling = "$$([ifThenElse(isUndefined(RalScaling), ifThenElse(isUndefined(ScalingFactor), 1.00, ScalingFactor), RalScaling)])"

# If machine ClassAd has VMID defined, add this to the job ClassAd
MachineVMID = "$$([ifThenElse(isUndefined(VMID), -1, VMID)])"

# Add to job ClassAds
SUBMIT_ATTRS = $(SUBMIT_ATTRS) MachineRalScaling,MachineVMID,JobLeaseDuration

# Add useful information to the job ClassAds for jobs which ran on Mesos
MachineMesosContainerName = "$$([ifThenElse(isUndefined(MESOS_CONTAINER_NAME), \"\", MESOS_CONTAINER_NAME)])"
MachineMesosTaskId = "$$([ifThenElse(isUndefined(MESOS_TASK_ID), \"\", MESOS_TASK_ID)])"
MachineContainerImageName = "$$([ifThenElse(isUndefined(CONTAINER_IMAGE_NAME), \"\", CONTAINER_IMAGE_NAME)])"
SUBMIT_ATTRS = $(SUBMIT_ATTRS) MachineMesosContainerName,MachineMesosTaskId,MachineContainerImageName

# Explicitly disable this - in 8.4.x the default became True (it was False in 8.0.x & 8.2.x)
SEC_ENABLE_MATCH_PASSWORD_AUTHENTICATION = False

# Ensure QDate is not used in determining auto clusters
REMOVE_SIGNIFICANT_ATTRIBUTES = QDate

# Logs
MAX_HISTORY_LOG = 819430400
MAX_HISTORY_ROTATIONS = 5
ROTATE_HISTORY_DAILY = True

MAX_SCHEDD_LOG = 104857600
MAX_NUM_SCHEDD_LOG = 10

MAX_SHADOW_LOG = 104857600
MAX_NUM_SHADOW_LOG = 10

MAX_MASTER_LOG = 104857600
MAX_NUM_MASTER_LOG = 10

SCHEDD_AUDIT_LOG = $(LOG)/AuditLog
MAX_SCHEDD_AUDIT_LOG = 1d
MAX_NUM_SCHEDD_AUDIT_LOG = 90

#  This macro determines what daemons the condor_master will start and keep its watchful eyes on.
#  The list is a comma or space separated list of subsystem names
DAEMON_LIST = MASTER, SCHEDD

